@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


.button {
  @apply bg-[#635fc7] px-4 py-2 rounded-full shadow-sm text-white text-lg hover:opacity-80 duration-200;
}

.select-status {
  background-image: url('../assets/icon-chevron-down.svg');
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 16px top 50%;
}
